@using Metanit.Helpers;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] countries = new string[] { "Великобритания", "Франция", "Россия" };
}

@helper BookList(IEnumerable<Metanit.Models.Book> books)
{

    <ul>
        @foreach (Metanit.Models.Book b in books)
        {
            <li>@b.Name</li>
        }
    </ul>

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
</head>
<body>
    <div>

        <h3>Распродажа книг</h3>
        <table>
            <tr>
                <td><p>Название книги</p></td>
                <td><p>Автор</p></td>
                <td><p>Цена</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Books)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Author</p></td>
                    <td><p>@b.Price</p></td>
                    <td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>
                    <td><p><a href="/Home/Delete/@b.Id">Удалить</a></p></td>
                </tr>
            }
        </table>




    </div>
</body>
</html>
