@model Metanit.Models.User
<div class="section" id="skill">
    <div class="container">
        <div class="h4 text-center mb-3 title">Профессиональные навыки</div>
        <div class="halfCard" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="card-body">
                <div class="row">
                    @foreach (var item in @Model.Skills)
                    {
                        <div class="col-md-6">
                            <div class="progress-container progress-primary">

                                <label class="cbContainer">
                                    @item.Name
                                    <input type="checkbox" checked="checked" disabled>
                                    <span class="checkmark"></span>
                                </label>

                            </div>
                        </div>
                    }

                </div>
                </div>
            </div>
        </div>
    </div>

